__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints
docs/source/reference/generated/*
docs/build/*
docs/jupyter_execute/*
docs/source/reference/generated/*
docs/source/examples/
debug*
*.h5
log/
diskcache_*
results_*
*.egg-info
