name: pipeline

on: [push, pull_request]

jobs:
  test-job:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        os: [ubuntu-latest, windows-latest]
        exclude:
          # excludes node 8 on macOS
          - os: windows-latest
            python-version: 3.10
    steps:
    - uses: actions/checkout@v2
    - name: Cache conda
      uses: actions/cache@v2
      env:
        # Increase this value to reset cache if etc/example-environment.yml has not changed
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key:
          ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
          hashFiles('etc/example-environment.yml') }}
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        miniforge-variant: Mambaforge
        use-mamba: true
        auto-update-conda: true
        channels: conda-forge,
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        mamba install cadet
    - name: Test 
      run: |
        python -m unittest
    - name: Install pypa/build
      run: |
        python -m pip install build --user
    - name: Build binary wheel and source tarball
      run: |
        python -m build --sdist --wheel --outdir dist/ .
    - name: Test Wheel install and import
      run: |
        python -c "import CADETProcess; print(CADETProcess.__version__)"
